[[role]]
name                 = "nuon-demo-eks-simple-{{.nuon.install.id}}"
description          = "Break Glass Role for Nuon Demo EKS Simple Install {{.nuon.install.id}}"
display_name         = "Nuon Demo EKS Simple {{.nuon.install.id}}"
permissions_boundary = ""

[[role.policies]]
managed_policy_name = "AdministratorAccess"

[[role.policies]]
name = "remove-secrets-manager-{{.nuon.install.id}}"
contents = """
{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "DenySecretsManagerAccess",
            "Effect": "Deny",
            "Action": [
                "secretsmanager:*"
            ],
            "Resource": "*"
        }
    ]
}
"""
