[[role]]
name                 = "{{.nuon.install.id}}-eks-simple-sandbox-break-glass"
description          = "Admin Access minus non-install secrets for {{.nuon.install.id}}."
display_name         = "EKS Simple Break Glass for {{.nuon.install.id}}"
# TODO(fd): fix the file resolution here
# permissions_boundary = "./permissions/maintenance_boundary.json"

[[role.policies]]
managed_policy_name = "AdministratorAccess"

[[role.policies]]
name     = "remove-secrets-manager"
contents = """
{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "DenySecretsManagerAccessOutsideInstallPrefix",
            "Effect": "Deny",
            "Action": [
                "secretsmanager:*"
            ],
            "NotResource": "arn:aws:secretsmanager:*:*:secret:/{{.nuon.install.id}}/*"
        }
    ]
}
"""
