# kubernetes-manifest

name         = "exampledb_secrets"
type         = "kubernetes_manifest"
dependencies = ["rds_cluster_exampledb"]

namespace = "exampledb"
manifest  = """
# Namespace for exampledb
# Note: The actual credentials are created by the exampledb_rds_creds action
apiVersion: v1
kind: Namespace
metadata:
  name: exampledb
"""
