---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: openhands
  labels:
    app: openhands
spec:
  replicas: 1
  selector:
    matchLabels:
      app: openhands
  template:
    metadata:
      labels:
        app: openhands
    spec:
      serviceAccountName: openhands
      containers:
        - name: openhands
          image: ghcr.io/openhands/openhands:1.0.0
          command: ['uvicorn', 'openhands.server.listen:app', '--host', '0.0.0.0', '--port', '3000']
          # image: nuonfred/openhands:latest
          # command: ["openhands", "serve"]
          ports:
            - containerPort: 3000
              name: http
          envFrom:
            # this must map to the secret we create and munge in the actions
            - secretRef:
                name: openhands
                optional: true
          resources:
            requests:
              memory: '4Gi'
              cpu: '1'
            limits:
              memory: '8Gi'
              cpu: '4'
          volumeMounts:
            - name: config
              mountPath: /root/.openhands/config.toml
              subPath: config.toml
              readOnly: true
            - name: config
              mountPath: /root/config.toml
              subPath: config.toml
              readOnly: true
            - name: openhands-data
              mountPath: /.openhands
            - name: workspace
              mountPath: /opt/workspace_base
          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 5
      nodeSelector:
        pool.nuon.co: openhands
      tolerations:
        - key: 'pool.nuon.co'
          operator: 'Equal'
          value: openhands
          effect: 'NoSchedule'
      volumes:
        - name: config
          configMap:
            name: openhands-config
        - name: openhands-data
          emptyDir: {}
        - name: workspace
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: openhands
  labels:
    app: openhands
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app: openhands
