apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ollama-models
  namespace: {{ .Release.Namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: gp2
  resources:
    requests:
      storage: {{ .Values.persistence.size }}

