apiVersion: v1
kind: Service
metadata:
  name: ollama-server
  namespace: {{ .Release.Namespace }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: 11434
    protocol: TCP
    name: http
  selector:
    app: ollama

