---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: whoami
  namespace: whoami
  labels:
    app: whoami
spec:
  replicas: 1
  selector:
    matchLabels:
      app: whoami
  template:
    metadata:
      labels:
        app: whoami
    spec:
      containers:
      - name: whoami
        image: "traefik/whoami:latest"
        env:
        - name: "WHOAMI_NAME"
          value: "whoami"
        - name: "WHOAMI_PORT_NUMBER"
          value: "8000"
        ports:
        - containerPort: 8000
        resources:
          limits:
            cpu: ".25"
            memory: "128Mi"
          requests:
            cpu: ".1"
            memory: "64Mi"
        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: whoami
  namespace: whoami
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 8000
  selector:
    app: whoami
  sessionAffinity: None
  type: ClusterIP
